page-home {
	.bar-buttons-md {
		float:left;
	}
	ion-title {
		
	}
	.toolbar-background-ios ,.toolbar-background-md {
		background-color:transparent;
		border:0px;
	}
	.toolbar-title-ios,.toolbar-title-md {
		color:#000000;
		font-weight:normal;
		text-align:left;
	}
	.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{
		color:#000000;
	}
	.content-md {
		background-color:rgba(216, 205, 205, 0.41);
	}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }
ion-card img {
	width:auto;
	margin:auto;
}
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #12545d;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #96354d;;
  }

}
}