page-home {

}
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }
ion-card img {
opacity:0.5;
}
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #12545d;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #96354d;;
  }

}