page-curatedpackages {
	.toolbar-background-ios ,.toolbar-background-md {
		background-color:#e13838;
	}
	.toolbar-title-ios,.toolbar-title-md {
		color:#ffffff;
		text-align:left;
	}
	.toolbar-ios ion-title {
		padding: 0 35px 1px;
	}
}
